.vs
*.sln
Content/Developers
enc_temp_folder
Content/StarterContent
Content/AnimStarterPack

Binaries/
Intermediate/
Saved/
DerivedDataCache/

Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/
Plugins/**/DerivedDataCache/

Content/JavaScript/ffi
Content/JavaScript/puerts
Content/JavaScript/PuertsEditor
Content/JavaScript/react-umg
Content/JavaScript/thirdparty
Content/JavaScript/utils

ts_file_versions_info.json
