.vs
*.sln
Content/Developers
enc_temp_folder
Content/StarterContent
Content/AnimStarterPack
Content/LevelPrototyping
Content/ThirdPerson

Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Content/JavaScript/

Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/
Plugins/**/DerivedDataCache/
Plugins/IgnoredPlugins
Content/AdvancedPhotoMode
ts_file_versions_info.json
