.vs
*.sln
Content/Developers
enc_temp_folder
Content/StarterContent
Content/AnimStarterPack

Binaries/
Intermediate/
Saved/
DerivedDataCache/

Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/
Plugins/**/DerivedDataCache/

